services:
  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: TestorOUsioNGELkstraGRisiVEsTOnErICIo
      POSTGRES_DB: hnl_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
